---

Name: Divani Rafitya

---

In [1]:
# import library
import pandas as pd
import numpy as np
import pickle

In [2]:
# load files
with open('svm_gridcv_best.pkl', 'rb') as file_1:
  model = pickle.load(file_1)

In [3]:
# create new data
df_inf = {
    'limit_balance': 100000,
    'sex': 1,
    'education_level': 1,
    'marital_status': 2,
    'age': 30,    
    'pay_0': 1,
    'pay_2': -1,
    'pay_3': 2,
    'pay_4': -2,
    'pay_5': 0,
    'pay_6': 0,
    'bill_amt_1': 50000,
    'bill_amt_2': 60000,
    'bill_amt_3': 70000,
    'bill_amt_4': 50000,
    'bill_amt_5': 60000,
    'bill_amt_6': 70000,
    'pay_amt_1': 40000,
    'pay_amt_2': 50000,
    'pay_amt_3': 60000,
    'pay_amt_4': 70000,
    'pay_amt_5': 80000,
    'pay_amt_6': 30000
}

df_inf = pd.DataFrame([df_inf])
df_inf

,limit_balance,sex,education_level,marital_status,age,pay_0,pay_2,pay_3,pay_4,pay_5,...,bill_amt_3,bill_amt_4,bill_amt_5,bill_amt_6,pay_amt_1,pay_amt_2,pay_amt_3,pay_amt_4,pay_amt_5,pay_amt_6
0,100000,1,1,2,30,1,-1,2,-2,0,...,70000,50000,60000,70000,40000,50000,60000,70000,80000,30000

In [4]:
# print result
predict = model.predict(df_inf)

for i in predict:
    if i == 0:
        print('Customer kemungkinan diprediksi akan berhasil membayar tagihan kartu kredit bulan berikutnya.')
    else:
        print('Customer kemungkinan diprediksi tidak dapat membayar tagihan kartu kredit bulan berikutnya.')

Customer kemungkinan diprediksi akan berhasil membayar tagihan kartu kredit bulan berikutnya.