---

Name: Divani Rafitya

---

In [1]:
# import library
import pandas as pd
import numpy as np
import pickle
import json
import warnings
warnings.filterwarnings('ignore')

In [2]:
# load all files
with open('list_features.txt', 'r') as file_1:
  features = json.load(file_1)

with open('model_scaler.pkl', 'rb') as file_2:
  scaler = pickle.load(file_2)

with open('model_pca.pkl', 'rb') as file_3:
  pca = pickle.load(file_3)

with open('model_kmeans.pkl', 'rb') as file_4:
  kmeans = pickle.load(file_4)

In [3]:
# call function
df_inf = {
    'CUST_ID': 12345,
    'BALANCE': 5000,
    'BALANCE_FREQUENCY': 0.9,
    'PURCHASES': 1000,
    'ONEOFF_PURCHASES': 200,
    'INSTALLMENTS_PURCHASES': 100,
    'CASH_ADVANCE': 100,
    'PURCHASES_FREQUENCY': 0.125,
    'ONEOFF_PURCHASES_FREQUENCY': 0.125,
    'PURCHASES_INSTALLMENTS_FREQUENCY': 0.125,
    'CASH_ADVANCE_FREQUENCY': 0.9,
    'CASH_ADVANCE_TRX': 10,
    'PURCHASES_TRX': 10,
    'CREDIT_LIMIT': 5000,
    'PAYMENTS': 2000,
    'MINIMUM_PAYMENTS': 900,
    'PRC_FULL_PAYMENT': 0.5,
    'TENURE': 8
}

# create dataframe
df_inf = pd.DataFrame([df_inf])

# show dataframe
df_inf

,CUST_ID,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,TENURE
0,12345,5000,0.9,1000,200,100,100,0.125,0.125,0.125,0.9,10,10,5000,2000,900,0.5,8

In [4]:
# using only selected features for inference
df_inf_features = df_inf[features]

In [5]:
# scaling selected features
df_inf_scaled = scaler.transform(df_inf_features)

# dimensional reduction using pca
df_inf_pca = pca.transform(df_inf_scaled)

In [6]:
# print result
predict = kmeans.predict(df_inf_pca)

for i in predict:
    if i == 0:
        print('Customer termasuk ke dalam Cluster 0')
    elif i == 1:
        print('Customer termasuk ke dalam Cluster 1')
    elif i == 2:
        print('Customer termasuk ke dalam Cluster 2')
    elif i == 3:
        print('Customer termasuk ke dalam Cluster 3')

Customer termasuk ke dalam Cluster 3